<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="aplicaCssErro('nome')">


        <div class="col-md-12"><label for="nome">Nome</label></div>

        <div class="col s12 ">
            <input type="text && checkbox" class="form-control" formControlName="nome" id="nome" placeholder="nome">
            <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-12" [ngClass]="aplicaCssErro('email')">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="Email é obrigatório.">
            </app-campo-control-erro>
            <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="Email inválido."></app-campo-control-erro>
            <app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'PENDING'" msgErro="Validando email..."></app-campo-control-erro>
            <app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'VALID'" msgErro="Email válido!"></app-campo-control-erro>
            <app-campo-control-erro [mostrarErro]="formulario.get('email').hasError('emailInvalido')" msgErro="Email já cadastrado!"></app-campo-control-erro>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" [ngClass]="aplicaCssErro('confirmarEmail')">
            <label for="confirmarEmail">Confirmar Email</label>
            <input type="confirmarEmail" class="form-control" formControlName="confirmarEmail" id="confirmarEmail" placeholder="nome@email.com">
            <app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')" msgErro="Emails não são iguais."></app-campo-control-erro>


        </div>
    </div>


    <div formGroupName="endereco">
        <div class="form-group row">


            <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.cep')">
                <label for="cep" class="control-label">CEP</label>
                <input type="cep" class="form-control" id="cep" formControlName="cep" (blur)="consultaCEP()">
                <app-campo-control-erro [mostrarErro]="verificaRequired('endereco.cep')" msgErro="CEP é obrigatório."></app-campo-control-erro>
                <app-campo-control-erro [mostrarErro]="formulario.get('endereco.cep').hasError('cepInvalido')" msgErro="CEP Inválido"></app-campo-control-erro>


            </div>
            <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.numero')">
                <label for="numero" class="control-label">Número</label>
                <input type="numero" class="form-control" id="numero" formControlName="numero">
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Número é obrigatório."></app-campo-control-erro>
            </div>

            <div class="col-md-6">
                <label for="complemento" class="control-label">Complemento</label>
                <input type="complemento" class="form-control" id="complemento" formControlName="complemento">
            </div>
        </div>

        <div class="row col-md-12" [ngClass]="aplicaCssErro('endereco.rua')">
            <label for="rua" class="control-label">Rua</label>
            <input type="rua" class="form-control" id="rua" formControlName="rua">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatória."></app-campo-control-erro>
        </div>

        <div class="form-group row">

            <div class="row col-md-5" [ngClass]="aplicaCssErro('endereco.bairro')">
                <label for="bairro" class="control-label">Bairro</label>
                <input type="bairro" class="form-control" id="bairro" formControlName="bairro">
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório."></app-campo-control-erro>
            </div>

            <div class="row col-md-4" [ngClass]="aplicaCssErro('endereco.cidade')">
                <label for="cidade" class="control-label">Cidade</label>
                <input type="cidade" class="form-control" id="cidade" formControlName="cidade">
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório."></app-campo-control-erro>
            </div>

            <div class="row col-md-3" [ngClass]="aplicaCssErro('endereco.estado')">
                <label for="estado" class="control-label">Estado</label> <select type="estado" class="form-control" id="estado" formControlName="estado">
                  <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
                </select>
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório."></app-campo-control-erro>
            </div>

        </div>
    </div>

    <div>


        <div class="form-group row">
            <div class="row col-md-3" [ngClass]="aplicaCssErro('cargo')">
                <label for="cargo" class="control-label">Cargo</label> <select type="cargo" class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
                  <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
                </select>
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('cargo')" msgErro="Cargo é obrigatório."></app-campo-control-erro>
            </div>

            <div class="row col-md-3" [ngClass]="aplicaCssErro('tecnologias')">
                <label for="tecnologias" class="control-label">Tecnologias</label> <select multiple class="form-control" id="tecnologias" formControlName="tecnologias" [compareWith]="compararCargos">
                  <option  *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
                </select>
            </div>


            <div class="row col-md-3" [ngClass]="aplicaCssErro('newsletter')">
                <label for="newsletter" class="control-label">Newsletter</label>
                <div id="newsletter" class="row">
                    <div class="col s3" *ngFor=" let item of newsletterOp ">
                        <label>
                      <input type="radio" [value]="item.valor "checked formControlName="newsletter"> <span>{{item.desc}}</span>
                    </label>
                    </div>

                </div>
            </div>


        </div>
        <div class="form-group">
            <div class="row col-sm-3" [ngClass]="aplicaCssErro('termos')">

                <div class="checkbox">
                    <label for="termos" class="checkbox-inline">
                      <input class="filled-in"id="termos"type="checkbox" checked="checked"formControlName="termos"> <span>Aceito os termos.</span>
                    </label>
                    <app-campo-control-erro [mostrarErro]="!formulario.get('termos').valid" msgErro="Por favor, aceite os termos."></app-campo-control-erro>
                </div>
            </div>


            <div class="row" [ngClass]="aplicaCssErro('frameworks')">
                <label for="frameworks">Frameworks</label>
                <div id="frameworks" class="checkbox">
                    <div class="checkbox" formArrayName="frameworks" *ngFor="let item of formulario.get('frameworks').controls; let i = index">
                        <label class="checkbox">
                      <input type="checkbox" checked="checked" [formControlName]="i"> <span>{{ frameworks[i] }}</span>
                    </label>
                    </div>
                    <app-campo-control-erro [mostrarErro]="!formulario.get('frameworks').valid" msgErro="Selecione uma opção"></app-campo-control-erro>
                </div>
            </div>

        </div>

        <button type="submit" class="btn">Submit</button>

        <button class="btn-default" (click)="resetar()">Cancelar</button>

        <button class="btn-info" (click)="setarCargo()">Cargo</button>
        <button class="btn-info" (click)="setarTecnologias()">Tecnologias</button>
    </div>